/* Style for the overall page layout */
body {
    margin: 0;
    padding: 0;
    display: flex;
}

/* Style for the navigation panel */
.navigation {
    width: 15%;
    background-color: #333333;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.navigation h1{
    color: #ffffff;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin-bottom: 10px;
    display: flex; 
    align-items: center; 
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.navigation a:hover {
    background-color: darkgreen;
    width: 100%;
}

.navigation a.active {
    background-color: darkgreen;
    width: 100%;
}

.bottom-nav {
    position: absolute;
    bottom: 100px;
}
.bottom-nav hr{
    width: 300%;
}
.bottom-nav li {
    width: 100%;
}
.bottom-nav a:hover{
    background-color: darkgreen;
}
.bottom-nav a.active {
    background-color: darkgreen;
}
/* .bottom-nav {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.bottom-nav li {
    width: 80%;
}

.bottom-nav hr{
    width: 80%;
    left: 10px;
} */

/* Style for the dashboard */
.dashboard {
    flex-grow: 1;
    padding: 20px;
    margin-left: 20%; 
}
.bottom-nav {
    position: absolute;
    bottom: 100px;
}
.bottom-nav hr{
    width: 300%;
}
.bottom-nav li {
    width: 100%;
}
.bottom-nav a:hover{
    background-color: darkgreen;
}
.bottom-nav a.active {
    background-color: darkgreen;
}